nav.navbar 
    a(href="#").navbar__logo--link: img.navbar__logo(src="Logo.svg", alt="logo")
       

    ul.navbar__menu
        li.menu__item: a.menu__link(href="#") Product 
        li.menu__item--dropdown
            a.menu__link(href="#") Aplications
            ul.dropdown-menu 
                li.menu__item: a.menu__link(href="#") Organic Chemistry 
                li.menu__item: a.menu__link(href="#") Work with Dangerous and Toxic Substrates
                li.menu__item: a.menu__link(href="#") Long and Precise Synthesis 
                li.menu__item: a.menu__link(href="#") Analytical Chemistry
                li.menu__item: a.menu__link(href="#") Titration and Other Slow Procedures
                li.menu__item: a.menu__link(href="#") Pharmaceutical Chemistry
                li.menu__item: a.menu__link(href="#") Drug Quality Control
        li.menu__item: a.menu__link(href="#") Contact 
    
    