header: h2.aplications__title Scope of applications
div.aplications
    section.aplications__container
        article.aplication#organic-chemistry
            img(src="organic-chemistry.png", alt="organic-chemistry")
            h3 Organic Chemystry 
            ul
                li  work with dangerous and toxic substrates
                li  long and precise synthesis
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut expedita facilis praesentium! Quidem facilis rerum voluptates consequuntur, unde beatae nesciunt natus quaerat, consectetur accusantium voluptate quibusdam nisi animi a.
        article.aplication#analytical-chemistry
            img(src="analytical-chemistry.png", alt="analytical-chemistry")
            h3 Analytical Chemystry 
            ul
                li  Titration and other slow procedures
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut expedita facilis praesentium! Quidem facilis rerum voluptates consequuntur, unde beatae nesciunt natus quaerat, consectetur accusantium voluptate quibusdam nisi animi a.
        article.aplication#pharmaceutical-industry
            img(src="pharmaceutical-industry.png", alt="pharmaceutical-industry")
            h3 Pharmaceutical Industry
            ul
                li  Drug quality control
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam aut expedita facilis praesentium! Quidem facilis rerum voluptates consequuntur, unde beatae nesciunt natus quaerat, consectetur accusantium voluptate quibusdam nisi animi a.


