nav.navbar 
    a(href="#").navbar__logo--link: img.navbar__logo(src="Logo.svg", alt="logo")
       
    i.fas.fa-bars
    ul.navbar__menu
        li.menu__item: a.menu__link(href="#header") Product 
        li.menu__item--dropdown
            a.menu__link(href="#") Aplications
            ul.dropdown-menu 
                li.menu__item: a.menu__link(href="#organic-chemistry") Organic Chemistry 
                li.menu__item: a.menu__link(href="#analytical-chemistry") Analytical Chemistry
                li.menu__item: a.menu__link(href="#pharmaceutical-industry") Pharmaceutical Chemistry
        li.menu__item: a.menu__link(href="#contact") Contact 
    
    