div.slider 
    div.container
        img.slide.selected(src="bg-header-1.jpg", alt="slide")
        img.slide.next(src="bg-header.jpg", alt="slide")
        img.slide(src="bg-header-2.jpg", alt="slide")
        img.slide(src="bg-header-1.jpg", alt="slide")
        img.slide(src="bg-header.jpg", alt="slide")
        img.slide.previous(src="bg-header-2.jpg", alt="slide")