.navbar {
    align-items: center;
    background-color: $primary-color;
    border-bottom: 2px solid black;
    display: flex;
    height: 70px;
    justify-content: space-around;
    left: 0;
    position: fixed;
    top:0; 
    width: 100%;
    z-index: 1000;

    .fa-bars {
        display: none;
    }

    .navbar__logo--link {
        height: 70%;
        transition: all 0.1s ease;
        .navbar__logo {
            height: 100%;
        }
    }

    .dropdown-menu, .navbar__menu {
        list-style-type: none;
        padding: 0;
    }

    .navbar__menu {
        align-content: center;
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;

        .menu__item {
            border-bottom: 3px solid transparent;
            padding-bottom: 5px;
            transition: all 0.3s ease;
            &:hover {
                border-bottom: 3px solid black;
            }
        }

        .menu__link {
            color: black;
            font-weight: 600;
            text-decoration: none;
        }
    }

    .menu__item--dropdown {
      position: relative;

      .dropdown-menu {
          background-color: white;
          border: 2px solid black;
          left: -20px;
          opacity: 0;
          padding: 5px;
          position: absolute;
          top: 100%;
          transition: all 0.3s ease; 
          width: calc(200%);
          .menu__item {
              margin-top: 10px;
          }
      }

      &:hover {
          .dropdown-menu {
              opacity: 1;
          }
      }
    }
}